font-family = JetBrainsMono Nerd Font
font-size = 14
font-thicken=true


macos-titlebar-proxy-icon = "hidden"
title = " "

theme = Catppuccin Mocha

background-image = ~/Downloads/frieren.jpg
background-image-fit = cover
background-image-opacity = 0.2

window-colorspace = display-p3
keybind = shift+enter=text:\n
